#profilePic {
  border-radius: 100%;
  max-height: 350px;
  margin: 20px;
}

#header {
  text-align: left;
  margin: 30px;
  min-height: 50px;
}

#siteTitle {
  float: left;
}

#logoContainer {
  float: right;
}
#logo {
  //   text-align: right;
  max-width: 100px;
}

#title {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
  color: #4e2277;
}

#slogan {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  color: #4e2277;
}

#mainContent {
  text-align: center;
}

#mainContentTitle {
  font-size: 50px;
  font-weight: bolder;
  color: #4e2277;
}

#contentContainer {
  max-width: 80vw;
  margin: 0 auto;
}

.mainText {
  font-size: 24px;
  color: #4e2277;
  font-weight: 10;
}

#footer {
  text-align: center;
  border-top: solid 1px #4e2277;
  position: static;
  bottom: 0px;
  clear: both;
  font-size: 12px;
  margin: 10px;
}
