#profilePic {
  border-radius: 100%;
}

#header {
  text-align: left;
  margin: 30px;
  min-height: 50px;
}

#siteTitle {
  float: left;
}

#logoContainer {
  float: right;
}
#logo {
  //   text-align: right;
  max-width: 100px;
}

#title {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
  color: #4e2277;
}

#slogan {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  color: #4e2277;
}
